version: "3.8"

services:
  db:
    image: postgres:18
    container_name: catcare-db
    environment:
      POSTGRES_DB: catcare
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: catcare-api
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: catcare
    volumes:
      - .:/app
